.page-wrap {
  min-height: 100vh;
  max-width: 100%;
  background-image: url("../assets/images/back_1.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 150px;
  height: auto;
}

.buttn {
  background-image: url("../assets/images/blue\ semitransparent\ rock.png");
  background-repeat: no-repeat;
}

.gap-18 {
  gap: 70px;
}
