@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Montserrat:wght@400;500;700&family=Poppins:wght@200;400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.margin-top-60px {
  margin-top: 30px;
}
@media screen and (min-width: 576px) {
  .margin-top-60px {
    margin-top: 60px;
  }
}

.margin-bottom-60px {
  margin-bottom: 30px;
}
@media screen and (min-width: 576px) {
  .margin-bottom-60px {
    margin-bottom: 60px;
  }
}

.margin-bottom-60-0px {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .margin-bottom-60-0px {
    margin-bottom: 60px;
  }
}

.flex-1 {
  flex: 1;
}

.p-top-10 {
  padding-top: 10px;
}

.p-top-15 {
  padding-top: 15px;
}

.p-top-30 {
  padding-top: 30px;
}

.p-bottom-30 {
  padding-bottom: 30px;
}

.p-bottom-15 {
  padding-bottom: 15px;
}

a.link {
  text-decoration: none;
}

.section-gradient {
  margin-bottom: 30px;
  min-height: 100vh;
  background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%));
  border-radius: 0px 0px 12px 12px;
  position: relative;
}
@media screen and (min-width: 576px) {
  .section-gradient {
    margin-bottom: 60px;
  }
}
.section-gradient__shadow {
  height: 10px;
  position: absolute;
  width: 100%;
  border-radius: 0px 0px 12px 12px;
}
.section-gradient__shadow--1 {
  bottom: -10px;
  width: calc(100% - 40px);
  left: 20px;
  background-color: #cacadb;
}
.section-gradient__shadow--2 {
  bottom: -20px;
  width: calc(100% - 80px);
  left: 40px;
  background-color: #e7e7f2;
}

.main-wrap {
  position: relative;
  min-height: 100vh;
}
.main-wrap-bg {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.main-wrap-bg__h {
  height: 100%;
}
.main-wrap__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  z-index: 100;
}
.main-wrap__title {
  padding: 0 50px;
  font-size: 38px;
  text-align: center;
}

.header-grid {
  padding: 5px;
  color: white;
  display: grid;
  row-gap: 18px;
  grid-template-areas: "info" "logo" "nav";
}
.header-grid__info {
  grid-area: info;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header-grid {
    grid-template-areas: "logo info" "logo nav";
  }
}
.header-grid__logo {
  grid-area: logo;
}
.header-grid__info {
  grid-area: info;
  gap: 3px;
}
.header-grid__nav {
  grid-area: nav;
}

.footer-grid {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 18px;
  grid-template-areas: "info" "nav" "logo";
}
@media screen and (min-width: 768px) {
  .footer-grid {
    display: grid;
  }
}
@media screen and (min-width: 768px) {
  .footer-grid {
    grid-template-areas: "info logo" "nav logo";
  }
}
.footer-grid__info {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-grid__info {
    display: flex;
    justify-content: space-between;
    gap: 3px;
  }
}
.footer-grid__logo {
  grid-area: logo;
}
.footer-grid__nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-grid__nav {
    display: flex;
    justify-content: space-between;
    gap: 3px;
  }
}

.gap-30px {
  gap: 30px;
}

.btn-sm {
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: 700;
  font-size: 12px;
}
.btn-sm.active, .btn-sm:hover {
  background-color: #f0145a;
}
.btn-sm-team {
  background-color: transparent;
  border: none;
  color: #b3b3ba;
  border-radius: 8px;
  font-weight: 700;
  font-size: 12px;
}
.btn-sm-team.active, .btn-sm-team:hover {
  background-color: #f0145a;
  color: white;
}

.navbar-toggler.hlegal-toggler {
  border: none;
  outline: none;
}
.navbar-toggler.hlegal-toggler:hover {
  border: none;
  outline: none;
}

.adress-item {
  display: flex;
  align-items: center;
}
.adress-item:before {
  content: "";
  position: relative;
  height: 6px;
  width: 6px;
  background-color: #cacadb;
  border-radius: 50%;
  display: none;
  right: 10px;
}
@media screen and (min-width: 576px) {
  .adress-item:before {
    display: inline-block;
  }
}

.navy-dark {
  color: #46466E;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.size-16px {
  font-size: 16px;
}

.size-14px {
  font-size: 14px;
}

.size-12px {
  font-size: 12px;
}

.blue {
  color: #24a3ff;
}

.blue-2 {
  color: #323264;
}

.grey-3 {
  color: #b3b3ba;
}

.background-grey {
  background-color: #F5F5FA;
}

.background-white {
  background-color: #Fff;
}

.h2-section {
  font-weight: 700;
  font-family: Montserrat;
  font-size: 38px;
  font-style: normal;
  line-height: normal;
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h2-section-2 {
  font-weight: 700;
  font-family: Montserrat;
  font-size: 38px;
  font-style: normal;
  line-height: normal;
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-grey {
  font-family: Montserrat;
  color: #b3b3ba;
}

.h4-section {
  font-weight: 700;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  color: #24a3ff;
}

.p-section {
  font-weight: 700;
  font-family: Montserrat;
  font-size: 16px;
  padding-bottom: 30px;
  font-style: normal;
  line-height: 162.5%;
  color: #24a3ff;
  font-weight: 400;
  color: white;
}
@media screen and (min-width: 576px) {
  .p-section {
    padding-bottom: 60px;
  }
}
.p-section-team {
  color: #b3b3ba;
}

.gap-15 {
  gap: 15px;
}

.nav-link-h {
  color: blue;
}
@media screen and (min-width: 576px) {
  .nav-link-h {
    color: white;
    font-weight: 700;
    font-size: 16px;
  }
}
.nav-link-h.active, .nav-link-h:hover {
  color: #f0145a;
  -webkit-text-decoration: underline #f0145a;
          text-decoration: underline #f0145a;
}
.nav-link-h-team {
  color: blue;
}
@media screen and (min-width: 576px) {
  .nav-link-h-team {
    color: #24a3ff;
    font-weight: 700;
    font-size: 16px;
  }
}
.nav-link-h-team.active, .nav-link-h-team:hover {
  color: #f0145a;
  -webkit-text-decoration: underline #f0145a;
          text-decoration: underline #f0145a;
}

.hover-pink:hover {
  color: #f0145a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link-section {
  color: #24a3ff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.link-section.active, .link-section:hover {
  color: #f0145a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.offcanvas {
  border-radius: 8px 8px 0 0;
}

.btn-circle {
  background-color: transparent;
  border: 1px solid #cacadb;
  border-radius: 50%;
  display: inline-block;
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-circle__icon {
  fill: #cacadb;
}
.btn-circle__icon.active, .btn-circle__icon:hover {
  fill: #f0145a;
  cursor: pointer;
}
.btn-circle.active, .btn-circle:hover {
  border: 1px solid #f0145a;
  cursor: pointer;
}

.carousel-img {
  height: 344px;
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

.carousel-indicators-2 {
  position: static;
  margin: 0;
}

.carousel-indicators-2 [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 16px;
  height: 16px;
  border: none;
  background-color: #24a3ff;
  opacity: 0.2;
  padding: 0;
  border-radius: 50%;
  margin: 0;
  text-indent: 0;
  cursor: pointer;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
}

.carousel-indicators-2 [data-bs-target].active,
.carousel-indicators-2 [data-bs-target]:hover,
.carousel-indicators-2 [data-bs-target]:focus {
  background-color: #24a3ff;
  opacity: 1;
}

.carousel-item-team {
  border-radius: 12px;
  overflow: hidden;
  background-color: #f5f5fa;
}

.partners {
  border-radius: 12px;
  overflow: hidden;
}

.partners-img {
  width: 100%;
  width: auto;
  max-height: 120px;
  padding: 35px 10px;
}

.publications-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.partner-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner-icon__1 {
  background-color: #1C4280;
}
.partner-icon__2 {
  background-color: #143646;
}
.partner-icon__3 {
  background-color: #F48B30;
}
.partner-icon__4 {
  background-color: #9E4DC3;
}
.partner-icon__5 {
  background-color: #FD9339;
}
.partner-icon__6 {
  background-color: #E2E2E4;
}
.partner-icon__7 {
  display: none;
  background-color: #C71C36;
}
@media screen and (min-width: 768px) {
  .partner-icon__7 {
    display: flex;
    justify-content: center;
  }
}
.partner-icon__8 {
  display: none;
  background-color: #DCF3F9;
}
@media screen and (min-width: 768px) {
  .partner-icon__8 {
    display: flex;
    justify-content: center;
  }
}
.partner-icon__9 {
  display: none;
  background-color: #EAEAEA;
}
@media screen and (min-width: 768px) {
  .partner-icon__9 {
    display: flex;
    justify-content: center;
  }
}
.partner-icon__10 {
  display: none;
  background-color: #282240;
}
@media screen and (min-width: 768px) {
  .partner-icon__10 {
    display: flex;
    justify-content: center;
  }
}
.partner-icon__11 {
  display: none;
  background-color: #1D4568;
}
@media screen and (min-width: 768px) {
  .partner-icon__11 {
    display: flex;
    justify-content: center;
  }
}
.partner-icon__12 {
  display: none;
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .partner-icon__12 {
    display: flex;
    justify-content: center;
  }
}

.row {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}

.padding-30 {
  padding: 30px;
}

.padding-20 {
  padding: 0 20px;
}

.border-publications {
  border-top: 4px solid #E6E6F0;
}

.border-footer {
  border-top: 2px solid #E6E6F0;
}

.carousel-indicators.carousel-indicators-h {
  position: relative;
  margin: 0;
  flex-direction: column;
  flex-grow: 1;
  border-right: none;
  border-bottom: 2px solid #cacadb;
}
@media screen and (min-width: 768px) {
  .carousel-indicators.carousel-indicators-h {
    border-right: 2px solid #cacadb;
    border-bottom: none;
  }
}

.carousel-indicators__btn {
  max-width: 100%;
  align-items: end;
  display: flex;
  flex-direction: row;
  padding-right: 0px;
  overflow-x: auto;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .carousel-indicators__btn {
    flex-direction: column;
    max-width: 375px;
    padding-right: 20px;
    gap: 0;
  }
}

.carousel.slide {
  grid-template-columns: 100%;
}
@media screen and (min-width: 768px) {
  .carousel.slide {
    grid-template-columns: repeat(2, 1fr);
  }
}

.carousel-indicators.carousel-indicators-h [data-bs-target] {
  text-indent: 0px;
  width: auto;
  height: auto;
  font-size: 38px;
  background-color: transparent;
  color: var(--grey-text, #b3b3ba);
  white-space: nowrap;
}
.carousel-indicators.carousel-indicators-h [data-bs-target].active {
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-inner {
  padding-left: 0px;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .carousel-inner {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-left-60 {
    padding-left: 60px;
  }
}/*# sourceMappingURL=main.css.map */